* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .mega-container {
      display: flex;
      font-size: 50px;
      flex-direction: column;
      align-items: center;
      color: grey;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
  }

/* Свойства хедера */

  .header-container {
    display: flex;
    justify-content: flex-start;
    background-color: midnightblue;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 1500px;
    font-size: 1em;
    padding: 1em;
}

/* Свойства картинки */
.img-1 {
    width: 1500px;
}

/* Свойства элемента с текстом посередине */

.midder-container {
    display: flex;
    justify-content: flex-start;
    width: 1500px;
    background-color: midnightblue;
}
.midder {
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
    padding: 0.7em;
}

.self-explanator {
    display: flex;
    flex-direction: column;
    width: 1500px;
}

.text-1 {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 1em;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-2 {
    display: flex;
    justify-content: flex-start;
    font-size: 0.6em;
    color: black;
    margin-bottom: 30px;
}


/* Свойства ссылок */
.projects-href:link, 
.projects-href:visited {
    color: grey;
    text-decoration: none;
}
.projects-href:hover,
.projects-href:active {
    color: rgb(35, 35, 35);
    text-decoration: underline;
}


/* Свойства футера */

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: midnightblue;
    width: 1500px;
    padding: 1em;
}

.footer {
    display: flex;
    justify-content: flex-start;
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 0.3em;
}

.social {
    display: flex;
    justify-content: space-around;
}

.social-logo {
    display: flex;
    width: 100px;
    height: 100px;
    padding: 0.3em;
}